@import "normalize-rails";

// Firefox fix for disabled inputs
input[type="text"]:disabled {
  background: initial;
}

$light: 300 !default;
$white-color: #fff !default;

$formagic-base-color: #2e2e2e !default;
$formagic-secondary-color: rgba($formagic-base-color, .4) !default;
$formagic-positive-color: #4a87ee !default;
$formagic-assertive-color: #e32e2e !default;
$formagic-label-color: lighten($formagic-base-color, 25%);
$formagic-placeholder-color: rgb(210,210,210) !default;
$formagic-border-color: #f1f1f1 !default;
$formagic-bg-color: #fbfbfd !default;

@mixin custom-scrollbar($color, $bg-color, $radius) {
  &::-webkit-scrollbar       { width: 6px; background-color: $bg-color; }
  &::-webkit-scrollbar-thumb { background-color: $color; border-radius: $radius; }
}

@mixin bottom-border($color) {
  &:after {
    @include position(absolute, null 0px 0px 1em);
    background-color : $color;
    content          : '';
    display          : block;
    height           : 1px;
  }
}

@mixin no-bottom-border {
  &:after {
    visibility : hidden;
  }
}

@mixin no-focus-outline {
  &:focus {
    outline : none;
  }
}

@mixin no-outline {
  @include no-focus-outline;
  outline : none;
  border  : none;
}

@mixin reorder-icon-base {
  @include position(absolute);
  text-align: center;
  z-index: 10;
  cursor: pointer;
}

@import "formagic/form";
@import "formagic/checkbox";
@import "formagic/color";
@import "formagic/date";
@import "formagic/file";
@import "formagic/group";
@import "formagic/image";
@import "formagic/list";
@import "formagic/nested-form";
@import "formagic/redactor-character";
@import "formagic/select";
@import "formagic/string";
@import "formagic/switch";
@import "formagic/text";
@import "formagic/array";
@import "formagic/actions";
@import "formagic/url";
@import "formagic/markdown";
