/* Array Input -------------------------------------------- */

.input-array {
  input {
    padding-left: 2.5em;
    margin-top: .25em;
  }

  ul {
    margin: 0 0 0 1em;
    padding: 0;
    list-style: none;
    line-height: 1.5;

    li {
      @include user-select(none); position: relative;

      a {
        color: $formagic-assertive-color;
        font-size: 0.75em;
        &:hover {
          opacity: 0.5;
        }
      }
    }
  }

  .slip-reordering {
    color: $formagic-positive-color;
  }

  .icon-reorder {
    @include reorder-icon-base();
    margin-left: -20px;
    width: 20px;
    &:hover { color: $formagic-positive-color; }
  }
}
