/* Checkbox Input ----------------------------------------- */

.input-checkbox {
  padding : .8em 1em 1em;

  input {
    margin-right : .5em;
    display      : inline;
    width        : auto;
  }

  .label {
    display : inline;
    cursor  : pointer;
  }
}
