// Date Input ---------------------------------------------

@import "vendor/datedropper";

.form-input input.input-datetime-date {
  @include position(absolute);
  opacity : .0;
  cursor  : pointer;
  width   : 7em;
}

.form-input input.input-datetime-time {
  display : inline-block;
  width   : auto;
}

.input-date-label {
  min-width : 7em;
  display   : inline-block;
  cursor    : pointer;
}

.input-date-label .placeholder {
  color : $formagic-placeholder-color;
}

.input-timedate-at {
  color  : $formagic-base-color;
  margin : 0 .25em;
}

.dd_ .dd_sw_ .dd_nav_.dd_prev_ { background-image: image-url('datedropper/prev.png'); }
.dd_ .dd_sw_ .dd_nav_.dd_next_ { background-image: image-url('datedropper/next.png'); }
.dd_ .dd_submit                { background-image: image-url('datedropper/done.png'); }

.dd_ { border: 0; }
.dd_:after {
  border-left : 1px solid darken($formagic-border-color, 5%)!important;
  border-top  : 1px solid darken($formagic-border-color, 5%)!important;
  top         : -6px!important;
}

.dd_ .dd_m_                         { font-size: 16px; }
.dd_ .dd_d_                         { font-size: 38px; border-color: $formagic-border-color; }
.dd_ .dd_d_ .dd_sl_ ul li em        { color: lighten($formagic-base-color, 40%)!important; font-size: 13px; bottom: 4px; }
.dd_ .dd_d_ .dd_sl_ ul li.dd_sunday { color: $formagic-assertive-color!important; }
.dd_ .dd_sw_ .dd_sl_ li:hover       { background-color: $formagic-border-color; }

.dd_ .dd_m_ {
  border-top-right-radius : 4px!important;
  border-top-left-radius  : 4px!important;
}

.dd_r_ { display: none; }
.dd_ .dd_submit { background-color: $formagic-positive-color!important; }




