/* File Input --------------------------------------------- */

.input-file {
  min-height : 102px;

  a {
    @include ellipsis;
    color : $formagic-positive-color;

    &:hover {
      text-decoration : underline;
    }
  }

  input[type=file] {
    margin-top  : .5em;
    margin-left : 1.75em;
  }

  input[type=checkbox] {
    margin-right : .5em;
    margin-left  : 1em;
    display      : inline;
    width        : auto;
  }

  label {
    font-size : .8em;
    display   : inline;
  }

  &.empty {
    img, a, label, input[type=checkbox] {
      display : none;
    }

    input[type=file] {
      margin-top : .2em;
    }
  }

  &.input-disabled {
    min-height : inherit;

    input, label {
      display : none;
    }
  }
}

.input-file-clear {
  @include position(absolute);

  background-color : rgba(0,0,0,.05);
  border-radius    : 1em;
  margin-top       : -22px;
  display          : inline-block;
  width            : 1.5em;
  height           : 1.5em;

  &:before {
    @include position(absolute, null 7px null null);
    line-height : 1.35em;
    content     : '\00d7';
    color       : $formagic-base-color;
  }

  &:hover {
    background-color: $formagic-positive-color;

    &:before { color: white; }
  }
}




