/* Image Input (based on file) ---------------------------- */

.input-image {
  @extend .input-file;

  &:not(.empty) {
    @include position(relative);
    padding-left : 6.5em;

    img {
      @include position(absolute, .8em null null 1em);
      border-radius : 4px;
      width         : 4.7em;
    }
  }

  &.input-disabled {
    min-height : 102px;
  }
}




