/* String Input ------------------------------------------- */

.input-string  {
  .twitter-typeahead {
    width : 100%;
  }

  .tt-suggestions {
    background : rgba(255,255,255, .95);
    padding    : .1em .5em;
    margin     : 0 0 0 -.5em;
  }

  .tt-suggestion {
    opacity : .5;
    cursor  : pointer;

    p {
      line-height : 1.5;
      margin      : 0;
    }

    &.tt-cursor {
      opacity : 1;
    }
  }
}
