/* Switch ------------------------------------------------- */
@mixin switch {
  $switch-width             : 52px;
  $switch-padding           : 2px;
  $switch-height            : 32px;
  $switch-radius            : $switch-height;
  $knob-size                : $switch-height - ($switch-padding * 2);
  $knob-radius              : $switch-height - ($switch-padding * 2);
  $knob-width               : $knob-size;
  $switch-background        : white;
  $switch-border-background : darken($formagic-border-color, 5%);
  $switch-shadow            : 0 0px 2px transparentize(black, 0.6);

  border-radius : $switch-radius;
  position      : relative;
  display       : inline-block;
  cursor        : pointer;
  height        : $switch-height;
  width         : $switch-width;

  input[type="checkbox"] {
    display : none;

    + .checkbox {
      @include transition(all 0.3s ease);
      border-radius : $switch-radius;
      background    : $switch-border-background;
      position      : relative;
      z-index       : 0;
      padding       : 0;
      border        : none;
      cursor        : pointer;
      height        : $switch-height;
      margin        : 0;
      width         : $switch-width;

      &:before {
        @include position(absolute, 2px 0 0 2px);
        @include transform(scale(1));
        @include transition(all 0.3s ease);
        border-radius : $switch-radius;
        background    : $switch-background;
        content       : "";
        z-index       : 1;
        height        : $knob-radius;
        width         : $switch-width - ($switch-padding * 2);
      }

      &:after {
        @include position(absolute, 2px 0 0 2px);
        @include transition(all 0.3s ease);
        @include size($knob-size);
        border-radius : $knob-radius;
        box-shadow    : $switch-shadow;
        background    : $switch-background;
        content       : "";
        z-index       : 2;
      }
    }

    &:checked {
      + .checkbox {
        background : $formagic-positive-color;

        &:before {
          @include transform(scale(0));
        }

        &:after {
          left : $switch-width - $knob-width - ($switch-padding);
        }
      }
    }
  }
}

.input-switch {
  padding-top: .75em;
  .label  {
    cursor      : pointer;
    line-height : 1.9;
  }
  .switch {
    @include switch;
    float : right;
  }
}




